
@media (max-width: 600px) {
//carousel//
.carousel-item {
    img {
        height: 400px;
    }
}
//fincarousel//
//card//
.card-1 {
    display: flex;
    justify-content: center;
    margin: 100px 0px 100px 0px !important;
    .card {
        width: 13rem !important;
    }
}
//fin-card//

//banner//
.banner {
    .title {
        font-size: 17px !important;
        font-weight: 800 !important;
        line-height: 30px !important;
        text-align: center;
    }
    .paragraph {
        display: block;
        font-size: 13px;
        width: 100% !important;
    }
    .banner-img {
        padding: 0 !important;
    }
}
//fin-banner//

//footer//
.footer {
    .tex-footer{
        h5 {
            font-size: 15px;
        }
        p {
            font-size: 8px;
        }
    }
    p {
        font-size: 8px;
    }
}
//fin-footer//
}